.Exp {
    max-height: 300px;
    border-bottom: solid;
    border-width: 1px;
    border-color:#D31C13;
    margin-bottom: 5px;
    padding: 25px 70px 80px 25px;
    margin-right:25px;
    max-width: 650px;
    color: #092E50;
}

.header {
    float: left;
    width: 60%;
    font-family:'Inconsolata', monospace;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.exp-descrip {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8pt;
    letter-spacing: 2pt;
    float: left;
    width: 60%;
    color: #05709b;
}

.date {
    width: 20%;
    max-width: 60px;
    float: right;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
}